<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LikeWeChatContactViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD5B94211DEC0E7A0081EEDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5B943A1DEC0E7A0081EEDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5B94451DEC0E7A0081EEDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
